@import "../settings/typography.less";
@import "../settings/colors.less";
@import "../settings/globals.less";



// Create Heading styles (Value, Key, Index)

each(@heading, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .@{key} {
                        color: @value;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1.1;
                    }
                });
            }
        });
    }
});


// Create Normal Text styles with expanded line height (Value (Normal), Key(@font-base*1), Index(1 to 3))

each(@normal-size, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .@{key}__Normal {
                        color: @value;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1.5;

                    }
                });
            }
        });
    }
});

// Create Normal Text styles with contract line height for forms / buttons (Value (Normal), Key(@font-base*1), Index(1 to 3))

each(@normal-size, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .@{key}__Form {
                        color: @value;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1;

                    }
                });
            }
        });
    }
});
