@import "../settings/typography.less";
@import "../settings/colors.less";
@import "../settings/globals.less";

/*
.TextStyle {
    font-size:             12px;
    font-family:           Open Sans; // or "Open Sans","Times New Roman"
    font-weight:           bold;      // or extra-light, light, regular, medium, semibold, bold
    line-height:           1.0;       // or 1.2 or 1.5 or any other mulitplier for font-size
    color:                 #FFFFFF;
    opacity:               63%;       // supported "63%" or "0.42"
    text-transform:        uppercase; // "uppercase", "lowercase", and "none"
    text-align:            left;      // "left", center", "right", "justify"
    vertical-align:        top;       // "top", "middle", "bottom"
}
*/

// Create Heading styles (Value, Key, Index)

each(@heading, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .@{key} {
                        color: @value;
                        font-family: @font-heading;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1.1;
                    }
                });
            }
        });
    }
});


// Create Normal Text styles with expanded line height (Value (Normal), Key(@font-base*1), Index(1 to 3))

each(@normal-size, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .Normal .@{key} {
                        color: @value;
                        font-family: @font-body;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1.5;

                    }
                });
            }
        });
    }
});

// Create Normal Text styles with contract line height for forms / buttons (Value (Normal), Key(@font-base*1), Index(1 to 3))

each(@normal-size, .(@vs, @ks, @is) {
    .@{ks}__Size {
        each(@text-align, .(@va, @ka, @ia) {
            .@{ka}__Aligned {
                each(@colors, {
                    .Form .@{key} {
                        color: @value;
                        font-family: @font-body;
                        font-size: @vs;
                        text-align: @va;
                        line-height: 1;

                    }
                });
            }
        });
    }
});
