// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Declare master typography values here

@import "globals.less";


@heading: {
  Heading__Alpha:        @font-base*3;
  Heading__Bravo:        @font-base*2;
  Heading__Charlie:      @font-base*1.75;
  Heading__Delta:        @font-base*1.5;
}

@normal-size: {
  Text__Lead:            @font-base*1.125;
  Text__Body:            @font-base*1;
  Text__SmallPrint:      @font-base*0.875;;
  Text__Signoff:         @font-base*0.75;
}

@text-align: {
  Left:       left;
  Right:      right;
  Center:     center;
}
