// =============================================================================
// SETTINGS / TYPOGRAPHY
// =============================================================================

// Declare master typography values here


@font-base:          16px;
@font-heading:       "Arial";
@font-body:          "Times New Roman";

@heading-desktop: {
  Alpha:        @font-base*4;       //48px
  Bravo:        @font-base*3.5;     //32px
  Charlie:      @font-base*1.75;    //28px
  Delta:        @font-base*1.5;     //24px
}

@heading-mobile: {
  Alpha:        @font-base*3;       //48px
  Bravo:        @font-base*2;       //32px
  Charlie:      @font-base*1.75;    //28px
  Delta:        @font-base*1.5;     //24px
}

@normal-size: {
  Lead:            @font-base*1.125;   //18px
  Body:            @font-base*1;       //16px
  SmallPrint:      @font-base*0.875;;  //14px
  Signoff:         @font-base*0.75;    //12px
}

@text-align: {
  _Left:       left;
  Right:      right;
  Center:     center;
}

@text-weight: {
  _Regular:    regular;
  Bold:       bold;
}

@responsive-size: {
  _Desktop:  @heading-desktop;
  Mobile:    @heading-mobile;
}
